global:
  scrape_interval: 10s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node-exporter"
    static_configs:
      - targets: ["node-exporter:9100"]

  - job_name: "business-api"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["business-api:8080"]
